@import "primer-core/index.scss";
@import "primer-support/index.scss";
@import "primer-alerts/index.scss";
@import "primer-avatars/index.scss";
@import "primer-blankslate/index.scss";
// @import "primer-markdown/index.scss";
// @import "primer-states/index.scss";

$logo-blue: #4078C0;
$gutter-width: 15px;
$panel-gray: #f5f5f5;

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  background-color: $panel-gray;
  border-bottom: 1px solid $gray-300;
  padding: 0 $gutter-width 0 $gutter-width;
}

command-bar {
  display: flex;
  flex-direction: row;
  padding: $gutter-width;
}

.logo {
  font-weight: bold;
}

.logo .word-run {
  color: $logo-blue;
}

.logo.splash {
  display: block;
  text-align: center;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  font-size: 90px;
}

header .logo {
  font-size: 30px;
  margin-right: $gutter-width;
}

header .gist-loader {
  flex-grow: 1;
}

.header-logo,
header > form + button {
  margin-right: $gutter-width;
}

command-bar button + button {
  margin-left: 5px;
}

command-bar input {
  flex-grow: 1;
  margin: 0 $gutter-width;
}

.octicon-red {
  fill: $red;
}

.octicon-stack-overflow {
  transform: scale(1.3);
}

.run-frame {
  width: 100%;
  height: 100%;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
}

.run-frame > iframe {
  width: 100%;
  height: 100%;
}

.btn-secret {
  background-color: #e6e1c0;
  background-image: -webkit-linear-gradient(#fffad5, #e6e1c0);
  background-image: linear-gradient(#fffad5, #e6e1c0);
  border-color: #e3deb9;
}

.btn-secret:hover {
  background-color: #dfd8ae;
  background-image: -webkit-linear-gradient(#fff7bc, #dfd8ae);
  background-image: linear-gradient(#fff7bc, #dfd8ae);
  border-color: #dad3a3;
}

@import "./ui-components/code-editor.scss";
@import "./ui-components/edit-file-panel.scss";
@import "./ui-components/side-nav.scss";
@import "./ui-components/split-panel.scss";
