@import "primer-core/index.scss";
@import "primer-support/index.scss";
@import "primer-alerts/index.scss";
@import "primer-avatars/index.scss";
@import "primer-blankslate/index.scss";
// @import "primer-markdown/index.scss";
// @import "primer-states/index.scss";

body {
  display: flex;
  position: fixed;
  left: 15px;
  top: 0;
  right: 15px;
  bottom: 15px;
}

.octicon-red {
  fill: $red;
}

.run-frame {
  width: 100%;
  height: 100%;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
}

.run-frame > iframe {
  width: 100%;
  height: 100%;
}

@import "./ui-components/code-editor.scss";
@import "./ui-components/edit-file-panel.scss";
@import "./ui-components/side-nav.scss";
@import "./ui-components/split-panel.scss";
