split-panel {
  display: block;
  width: 100%;
  height: 100%;
}

.split-panel_panel {
  float: left;
  border: $border;
  border-radius: $border-radius;
  height: 100%;
  overflow: hidden;
}

.split-panel_splitter {
  float: left;
  height: 100%;
  cursor: col-resize;
  user-select: none;
}
