.split-panel {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 2 * 15px - 50px - 34px);
  padding: 0 15px 15px 15px;

  > div,
  .gutter.gutter-horizontal {
    box-sizing: border-box;
    float: left;
    height: 100%;
    margin: 0;
  }

  .gutter.gutter-horizontal {
    cursor: col-resize;
  }
}
