.split-panel {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 2 * 15px - 50px - 34px);
  padding: 0 15px 15px 15px;
}

.split-panel > div {
  box-sizing: border-box;
}

.split-panel > div,
.gutter.gutter-horizontal {
  float: left;
  height: 100%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}
