.split-panel {
  display: block;
  width: 100%;
  height: 100%;
}

.split-panel--resizing {
  user-select: none;
}

.split-panel__panel,
.split-panel__splitter {
  float: left;
  height: 100%;
}

.split-panel__panel {
  position: relative;
  overflow: hidden;
}

.split-panel__splitter {
  cursor: col-resize;
}

.split-panel__overlay {
  position: absolute;
  display: none;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
