header {
  flex: 0 0 auto;

  margin-bottom: 15px;

  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

header .right {
  margin-right: 15px;
}

.header-logo {
  position: relative;
  float: left;
  height: 36px;
  margin-right: 15px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.header-load-gist {
  max-width: 300px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

edit-session-commands {
  flex: 0 0 auto;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.gist-description {
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.m-l-5 {
  margin-left: 5px;
}

/* Splitter */
.gutter: hover {
  background-color: #eee;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.split {
  display: flex;
  box-sizing: border-box;
}

.split, .gutter.gutter-horizontal {
  float: left;
}

split-panel {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 60px);
}

nav-panel {
  width: 100%;
  overflow-y: auto;
}

nav.menu {
  margin-left: 15px;
}

edit-file-panel, result-panel {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.file-header {
  padding: 5px 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  flex: 0 0 auto;
}

edit-file-panel .filename {
  max-width: 250px;
}

ace-editor {
  width: 100%;
  flex-grow: 1;
}

result-panel {
  margin-bottom: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

result-panel iframe {
  width: 100%;
  flex-grow: 1;
}

.btn-secret {
  background-color: #e6e1c0;
  background-image: -webkit-linear-gradient(#fffad5, #e6e1c0);
  background-image: linear-gradient(#fffad5, #e6e1c0);
  border-color: #e3deb9;
}

.btn-secret:hover {
  background-color: #dfd8ae;
  background-image: -webkit-linear-gradient(#fff7bc, #dfd8ae);
  background-image: linear-gradient(#fff7bc, #dfd8ae);
  border-color: #dad3a3;
}

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}

.btn-primary:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

.btn-danger {
  color: #900;
}

.btn-danger:hover {
  color: #fff;
  background-color: #b33630;
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  border-color: #cd504a;
}

.unnamed-file {
  font-style: italic;
}

.menu-item {
  overflow: hidden;
  text-overflow: ellipsis;
}


/*********************************************************/
.select-menu {
  position: relative;
  display: inline-block;
}

.select-menu-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.select-menu-modal-holder {
  top: 100%;
}

.select-menu.active .select-menu-modal-holder {
  display: block;
}

.select-menu-modal-holder {
  position: absolute;
  z-index: 30;
  display: none;
}

.select-menu-modal {
  position: relative;
  width: 300px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.select-menu.select-menu-modal-right {
  position: relative;
}

.select-menu.select-menu-modal-right .select-menu-modal-holder {
  right: 0;
}

.select-menu-header {
  padding: 8px 10px;
  line-height: 16px;
  background: #f5f5f5;
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
}

.select-menu-header .select-menu-title {
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

.select-menu-header .octicon {
  display: block;
  float: right;
  color: #ccc;
  cursor: pointer;
}

.select-menu-header .octicon:hover {
  color: #555;
}

.select-menu-header:focus {
  outline: none;
}

.select-menu-item {
  display: block;
  padding: 8px 8px 8px 30px;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.select-menu-item:hover {
  color: #fff;
  background-color: #4078c0;
}

.select-menu-item-heading {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
}

.select-menu-item-heading .description {
  display: inline;
  font-weight: normal;
}

/*.select-menu-item .select-menu-item-text .octicon-x {
  display: none;
  float: right;
  margin: 1px 10px 0 0;
  opacity: 0.6;
}

.select-menu-item.selected .select-menu-item-text .octicon-x {
    display: block;
    color: inherit
}*/

.modal-backdrop {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
}
