body {
  position: fixed;
	height: 100%;
	width: 100%;

  display: flex;
  flex-direction: column;
}

.splash {
  height: 90%;
  max-width: 90%;
  margin: auto;
}

.fallback-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  padding: 15px;
}

.fallback-container > img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

.fallback-container > p {
  font-size: 18px;
}

rate-alert {
  flex: 0 0 auto;
  margin-left: 15px;
  margin-right: 15px;
}

rate-alert > .flash {
  margin-bottom: 15px;
}

.alertify-logs > .success {
  background-color: rgba(86, 158, 61, 0.8);
}

.alertify-logs > .error {
  background-color: rgba(179, 54, 48, 0.8);
}
