body {
  position: fixed;
	height: 100%;
	width: 100%;

  display: flex;
  flex-direction: column;
}

.splash {
  height: 90%;
  max-width: 90%;
  margin: auto;
}

.fallback-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  padding: 15px;
}

.fallback-container > img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}

.fallback-container > p {
  font-size: 18px;
}

header {
  flex: 0 0 auto;

  margin-bottom: 15px;

  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

header .right {
  margin-right: 15px;
}

.header-logo {
  position: relative;
  float: left;
  height: 36px;
  margin-right: 15px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.header-load-gist {
  max-width: 300px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

edit-session-commands {
  flex: 0 0 auto;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.gist-description {
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.m-l-5 {
  margin-left: 5px;
}

/* Splitter */
.gutter: hover {
  background-color: #eee;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.split {
  display: flex;
  box-sizing: border-box;
}

.split, .gutter.gutter-horizontal {
  float: left;
}

split-panel {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 60px);
}

nav-panel {
  width: 100%;
  overflow-y: auto;
}

nav.menu {
  margin-left: 15px;
}

edit-file-panel, result-panel {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.file-header {
  padding: 5px 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  flex: 0 0 auto;
}

edit-file-panel .filename {
  max-width: 250px;
}

ace-editor {
  width: 100%;
  flex-grow: 1;
  margin-top: 5px;
}

result-panel {
  margin-bottom: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

result-panel iframe {
  width: 100%;
  flex-grow: 1;
}

rate-alert {
  flex: 0 0 auto;
  margin-left: 15px;
  margin-right: 15px;
}

rate-alert > .flash {
  margin-bottom: 15px;
}

.btn-secret {
  background-color: #e6e1c0;
  background-image: -webkit-linear-gradient(#fffad5, #e6e1c0);
  background-image: linear-gradient(#fffad5, #e6e1c0);
  border-color: #e3deb9;
}

.btn-secret:hover {
  background-color: #dfd8ae;
  background-image: -webkit-linear-gradient(#fff7bc, #dfd8ae);
  background-image: linear-gradient(#fff7bc, #dfd8ae);
  border-color: #dad3a3;
}

.btn-danger {
  color: #900;
}

.btn-danger:hover {
  color: #fff;
  background-color: #b33630;
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  border-color: #cd504a;
}

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}

.btn-primary:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

.btn-danger {
  color: #900;
}

.btn-danger:hover {
  color: #fff;
  background-color: #b33630;
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  border-color: #cd504a;
}

.unnamed-file {
  font-style: italic;
}

.menu-item {
  overflow: hidden;
  text-overflow: ellipsis;
}
